<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>TTL</title>
</head>
<body>
    <h1 id="heading">TypeToLive</h1>
    
    <div class="typewriter">
        <div class="info">
            <div class="type-timer">00:00</div>
            <div class="type-errors"></div>
        </div>
        <div class="ticker">
            <div class="typed">Нажмите</div>
            <div class="not-typed">&nbsp;старт</div>
        </div>
        <div class="buttons">
            <div class="button" id="start-button">Старт</div>
            <div class="button" id="settings-button"> ⚙ </div>
        </div>
    </div>
    <dialog class="stats-dialog">
        <div class="info-row">Время:</div>
        <div class="info-row">Введено:</div>
        <div class="info-row">Скорость:</div>
        <div class="info-row">Точность:</div>
        <div class="dialog-buttons">
            <div class="button" id="dialog-resume-button">возобновить</div>
            <div class="button" id="dialog-restart-button">рестарт</div>
        </div>
    </dialog>
    <dialog class="settings-dialog">
        <div class="settings">
            <div class="settings-row">
                <label for="words-amount">кол-во слов</label> <input type="number" id="words-amount" value="10" min="1" max="100">
            </div>
            <div class="settings-row">
                <label for="words-length">длинна слов</label> <input type="number" id="words-length" value="0" min="0" max="15">
            </div>
            <div class="settings-row">
                язык <select id="words-language">
                    <option value="en">english</option>
                    <option value="zh">chinese</option>
                    <option value="it">italian</option>
                    <option value="es">spanish</option>
                    <option value="de">german</option>
                </select>
                <!-- <label for="words-language">язык</label> <input type="" id="words-language"> -->
            </div>
        </div>
    </dialog>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>