<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>TTL</title>
</head>
<body>
    <h1 id="heading">TypeToLive</h1>
    
    <div class="typewriter">
        <div class="info">
            <div class="type-timer">00:00</div>
            <div class="type-errors"></div>
        </div>
        <div class="ticker">
            <div class="typed">Press</div>
            <div class="not-typed">&nbsp;start</div>
        </div>
        <div class="buttons">
            <div class="button" id="start-button">start</div>
            <div class="button" id="settings-button"> ⚙ </div>
        </div>
    </div>
    <dialog class="stats-dialog">
        <div class="info-row">Время:</div>
        <div class="info-row">Введено:</div>
        <div class="info-row">Скорость:</div>
        <div class="info-row">Точность:</div>
        <div class="dialog-buttons">
            <div class="button" id="dialog-resume-button">resume</div>
            <div class="button" id="dialog-restart-button">restart</div>
        </div>
    </dialog>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>